.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-auto-flow: dense;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    .small {
      grid-row: span 1;
    }
     .big {
      grid-row: span 2;
      grid-column: span 3;
     }
     .xl {
      grid-row: span 3;
      grid-column: span 3;
     }
    .horizontal {
      grid-row: span 3;
      grid-column: span 2;
    }
     .balanced {
      grid-row: span 2;
      grid-column: span 2;
    }
    .balanced-bg {
      grid-row: span 3;
      grid-column: span 2;
    }
    .vertical {
      grid-row: span 2;
    }

    .vertical-bg {
      grid-row: span 3;
    }
   &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all .2s;
    cursor: pointer;
   
   }
  &_item {
    transition: all .5s;
  }

  &_item:hover img{
    transform: translateY(.3rem) scale(1.3);
  }

  .xtrasmallscreen {
    display: none;
  }
  @media only screen and (max-width: $bp-xs) {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:  center;
    & > * {
      width: 80%;
    } 
    .xtrasmallscreen {
      display: block;
    }
}

}